:root {

	--main-bg-color: #fff;

	--main-bg-body: #f2f2f2;
	--main-text-color: #949691;

	--card-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

	--text-color: #313131;

	--text-card-color: #222;

	--bg-color-bug: #719f3f;
	--bg-color-dragon-top: #53a4cf;
	--bg-color-dragon-botton: #f16e57;
	--bg-color-fairy: #fdb9e9;
	--bg-color-fire: #fd7d24;
	--bg-color-ghost: #7b62a3;
	--bg-color-ground-top: #f7de3f;
	--bg-color-ground-botton: #ab9842;
	--bg-color-normal: #a4acaf;
	--bg-color-psychic: #f366b9;
	--bg-color-steel: #9eb7b8;
	--bg-color-dark: #707070;
	--bg-color-eletric: #eed535;
	--bg-color-fighting: #d56723;
	--bg-color-flying-top: #3dc7ef;
	--bg-color-flying-botton: #bdb9b8;
	--bg-color-grass: #9bcc50;
	--bg-color-ice: #51c4e7;
	--bg-color-poison: #b97fc9;
	--bg-color-rock: #a38c21;
	--bg-color-water: #4592c4;

}

body {
	background: var(--main-bg-body);
	color: var(--main-text-color);
	margin: 0;
	font-family: rubik;
}

.container {
	padding: 40px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	font-size: 54px;
}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;
}

.card {
	list-style: none;
	box-shadow: var(--card-box-shadow);
	color: var(--text-card-color);
	text-align: center;
	border-radius: 20px;
	position: relative;
}

.card::after {
	content: "";
  display: block;
  width: 50%;
  height: 45%;
  border-radius: 100%;
  background-color: var(--main-bg-body);
  opacity: .7;
  position: absolute;
  top: 15%;
  left: 25%;
}

.bug {
	background-color: var(--bg-color-bug);
}

.dragon {
	background-image: linear-gradient(to bottom, var(--bg-color-dragon-top), var(--bg-color-dragon-botton));
}

.fairy {
	background-color: var(--bg-color-fairy);
}

.fire {
	background-color: var(--bg-color-fire);
}

.ghost {
	background-color: var(--bg-color-ghost);
}

.ground {
	background-image: linear-gradient(to bottom, var(--bg-color-ground-top), var(--bg-color-ground-botton)) ;
}

.normal {
	background-color: var(--bg-color-normal);
}

.psychic {
	background-color: var(--bg-color-psychic);
}

.steel {
	background-color: var(--bg-color-steel);
}

.dark {
	background-color: var(--bg-color-dark);
}

.electric {
	background-color: var(--bg-color-eletric);
}

.fighting {
	background-color: var(--bg-color-fighting);
}

.flying {
	background-image: linear-gradient(to bottom, var(--bg-color-flying-top), var(--bg-color-flying-botton));
}

.grass {
	background-color: var(--bg-color-grass);
}

.ice {
	background-color: var(--bg-color-ice);
}

.poison {
	background-color: var(--bg-color-poison);
}

.rock {
	background-color: var(--bg-color-rock);
}

.water {
	background-color: var(--bg-color-water);
}

.card:hover {
	animation: bounce 0.5s linear;
}

.card-title {
	text-transform: capitalize;
	margin-bottom: 0px;
	font-size: 32px;
	font-weight: normal;
	position: relative;
	z-index: 2;
}

.card-subtitle {
	margin-top: 5px;
	color: var(--text-color);
	font-weight: lighter;
	position: relative;
	z-index: 2;
}

.card-image {
	height: 180px;
	position: relative;
	z-index: 2;
}

@keyframes bounce {
	20% {
			transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}

